@import 'reset.css';

body{
    background: #fdd1bd
}
.calculator{
    max-width: 450px;
    min-width: 300px;
    max-height: 700px;
    padding: 15px 10px;
    background: rgba(0, 0, 0, 0.33);
    font-family: sans-serif;
    border-radius: 5px;
    
}
.calculator_theme{
    margin: 40px auto;
}

.calculator__info_output_container{
    height: 55px;
    background: #fff;
    padding: 5px;
    text-align: right;
    color: #8b8686
}

.calculator__history_info_output{
    font-size: 14px;
    height: 15px;
    margin-top: -2px;
}
.calculator__main_info_output{
    font-size: 20px;
}

.calculator__button_container{
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
}
.calculator__button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    background: #ebe7e7;
    border: none;
    transition: all ease .3s;
    font-family: sans-serif;
    cursor: pointer;
}
.calculator__button:hover{
    background: rgb(247, 228, 175);
}
.calculator__button:active{
    background: #fafaeb;
}
.calculator__button_equal{
    grid-column: 1/6
}
.calculator__button_clean{
    grid-column: 3/5
}